/* From https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
    background: black;
  } 


/* Layout */

.container{
  display: flex;  
  justify-content: center;  
  align-items: center;  
}


body {
  font-family: 'VT323', monospace;
  font-size: 50px;
  color: lime;
 }

table, td {
  border:1px solid lime;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

button {
  width: 10%;
  background-color: black;
  color: lime;
  font-family: 'VT323', monospace;
  font-size: 46px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

@keyframes mymove {
  0% {opacity: 0;}
  100% {opacity: 1;}
}